/*鸿蒙HarmonyOS*/
@font-face{
    font-family:HarmonyOS_Sans_SC_Medium;
    font-style:normal;
    font-display:swap; src:url('../fonts/HarmonyOS_Sans_SC_Medium.subset.woff2') format('woff2')
}
/* 方正兰亭圆 */
@font-face{
    font-family:fzlty;
    font-style:normal;
    font-display:swap; src:url('../fonts/fzlty.woff2') format('woff2')
}

/* 荆南麦圆体 */
@font-face{
    font-family:jnmyt;
    font-style:normal;
    font-display:swap; src:url('../fonts/jnmyt.woff2') format('woff2')
}
/* 字集康康体 */
@font-face{
    font-family:zjkkt;
    font-style:normal;
    font-display:swap; 
    src:url('../fonts/kangkang.woff2') format('woff2'),
        url('../fonts/kangkang.woff') format('woff');
}
/* 云朵爱吃棉花糖 */
@font-face{
    font-family:ydacmht;
    font-style:normal;
    font-display:swap; 
    src:url('../fonts/ydacmht.woff2') format('woff2');
}
/* 汉仪粗圆简 */
@font-face {
    font-family:hycyj;
    font-style: normal;
    font-display:swap; 
    src: url('../fonts/hycyj.woff2') format('woff2');
}
/* 站酷-仓耳渔阳体 */
@font-face {
    font-family:cryyt;
    font-style: normal;
    font-display:swap; 
    src: url('../fonts/cryyt.woff2') format('woff2'),
        url('../fonts/cryyt.woff') format('woff');
}
/* 站酷-小薇LOGO体 */
@font-face {
    font-family:xiaowei;
    font-style: normal;
    font-display:swap; 
    src: url('../fonts/xiaowei.woff2') format('woff2'),
        url('../fonts/xiaowei.woff') format('woff');
}
/* 江西拙楷体 */
@font-face {
    font-family:zhuokai;
    font-style: normal;
    font-display:swap; 
    src: url('../fonts/zhuokai.woff2') format('woff2'),
        url('../fonts/zhuokai.woff') format('woff');
}

/* 焦糖玛奇朵pro */
@font-face {
    font-family: "jiaotang";
    font-style: normal;
    font-display: swap;
    src: url('../fonts/jtmqd.woff2') format('woff2'),
        url('../fonts/jtmqd.woff') format('woff');
}